<div class="p-d-flex p-jc-center p-ai-center" style="min-height:60vh">
  <p-card header="Đăng ký" [style]="{width:'420px'}">
    <div class="p-fluid">
      <div class="p-field">
        <label>Name</label>
        <input pInputText type="text" />
      </div>
      <div class="p-field">
        <label>Email</label>
        <input pInputText type="email" />
      </div>
      <div class="p-field">
        <label>Password</label>
        <input pInputText type="password" />
      </div>
      <button pButton label="Register" class="p-button-success p-mt-2" routerLink="/login"></button>
    </div>
  </p-card>
</div>
